html {
	font-family: Trebuchet MS,sans-serif;
	background-color: #235493;
	filter: invert();
}

#titl {
	text-align: center;
}

#subtitl {
	text-align: center;
}

/*body*/

#icons {
	grid-area: 1/1;
	z-index: -1;
}

#rock {
	padding-top: 200px;
	position: absolute;
	left: 28%;
}

#container {
	display: grid;
}

#circle1 {
	grid-area: 1/1;
	background-color: red;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#paper {
	padding-top: 200px;
	position: absolute;
	left: 43%;
}

#scissors {
	padding-top: 200px;
	position: absolute;
	left: 58%;
}

#player {
	padding-top: 414px;
	padding-left: 750px;
}

#pc {
	position: absolute;
	top: 89.8%;
	padding-left: 1030px;
}