html {
	font-family: Trebuchet MS,sans-serif;
	background-color: #235493;
	filter: invert();
}

#titl {
	text-align: center;
}

#subtitl {
	text-align: center;
}

/*body*/

#icons {
	grid-area: 1/1;
	z-index: -1;
}

#rock {
	padding-top: 200px;
	position: absolute;
	left: 28%;
}

#paper {
	padding-top: 200px;
	position: absolute;
	left: 43%;
}

#scissors {
	padding-top: 200px;
	position: absolute;
	left: 58%;
}

/*#players {
	padding-top: 400px;
}*/

#buttons {
	position: absolute;
	top: 280px;
	left: 31.5%;
	filter: invert();
	z-index: 0;
}

#rockb {
}

#paperb {
	margin-left: 245px;
}

#scissorsb {
	margin-left: 210px;
}